<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Images</title>
    <link rel="stylesheet" href="/utils.css">
</head>
<body>
    <section class="container">
        <img src="https://rb.gy/1w9cjm" alt="Responsive Image" class="res">
    </section>
    <section class="container" >
            <img src="https://rb.gy/fjwtsq" alt="avatar of wesbos" class="size-xl avatar-circle">
    </section>
</body>
</html>