<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Images</title>
    <link rel="stylesheet" href="/utils.css">
</head>
<body>
    <section class="container">
        <img src="https://www.w3schools.com/howto/img_nature_wide.jpg" alt="Responsive Image" class="res">
    </section>
    <section class="container" >
        <div class="size-2xl">
            <img src="https://learnnode.com/images/square-small.jpg" alt="" class="avatar-circle">
        </div>
    </section>
</body>
</html>