@import url(/utils.css);
.spinner-box {
    width: 20rem;
    height: 20rem;
    background-color: transparent;
  }

  .circle-border {
    width: 5rem;
    height: 5rem;
    padding: 3px;
    border-radius: 50%;
    background: linear-gradient(0deg, var(--info-clr) 33%, var(--clr-teal) 100%);
    animation: spinLoader .35s linear 0s infinite;
  }
  
  .circle-inner {
    background-color: var(--clr-white);
    border-radius: 50%;
  }

  @keyframes spinLoader {
    from {
      transform: rotate(1);
    }
    to{
      transform: rotate(360deg);
    }
  }