@import url(/utils.css);

.btn{
    display:inline-flex;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
    width: auto;
    font-size: 1rem;
    height: 2.25rem;
    font-weight: 700;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    border: none;
    color: var(--clr-white);
    padding-inline-start: 0.7rem;
    padding-inline-end: 0.7rem;
    width: max-content;
    gap: 0.75rem;
}

.btn:hover{
    background-color: var(--clr-blue);
}

.btn.error{
    background-color: var(--clr-red);
}

.btn.cancel{
    background-color: var(--clr-grey);
}

.btn.btn.outline:hover{
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--clr-white);
}

.btn.outline{
    background-color: transparent;
    border:1px solid var(--primary-color);
    border-radius: 0.5rem;
    color: var(--primary-color);
}

.btn.outline.ltgreen{
    border:1px solid var(--clr-ltgreen);
    color: var(--clr-ltgreen);
}

.btn.outline.ltgreen:hover{
    background-color: var(--clr-ltgreen);
}

.btn.outline.green1{
    border:1px solid var(--clr-green1);
    color: var(--clr-green1);
}

.btn.outline.green1:hover{
    background-color: var(--clr-green1);
}

.btn-xs{
    font-size: 1.7rem;
    height: 3.5rem;
    min-width: 3.5rem;
    max-width: max-content;
    padding-inline-start: 1.25rem;
    padding-inline-end: 1.25rem;
}

.btn-sm{
    font-size: 2rem;
    max-width: max-content;
    height: 4rem;
    padding-inline-start: 1.25rem;
    padding-inline-end: 1.25rem;
}

.btn-md{
    font-size: 2.5rem;
    max-width: max-content;
    height: 4.5rem;
    padding-inline-start: 1.75rem;
    padding-inline-end: 1.75rem;
}

.btn-lg{
    font-size: 3rem;
    max-width: max-content;
    height: 5rem;
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
}

.btn-xl{
    font-size: 4rem;
    height: 6rem;
    padding-inline-start: 2.25rem;
    padding-inline-end: 2.25rem;
    max-width: max-content;
}

.link{
    text-decoration: none;
    background-color: var(--primary-color);
    min-height: max-content;
    color: white;
    font-weight: 700;
    border-radius: 0.5rem;
}

.link-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    border: none;
    width: 100%;
    margin-top: 3rem;
    background: none;
}


/* Floating BTN */
.floating-btn,
.floating-items{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.floating-btn .btn{
    background-color: var(--clr-blue1);
    border-radius: 50%;
    padding: 0;
}

.float-btn .icon,
.floating-item .icon{
    padding: 1rem;
}

.floating-item {
    border-radius: 50%;
    background-color: var(--clr-blue1);
    display: flex;
    justify-content: center;
    align-items: center;
}

