@import url(/utils.css);

.btn{
    display:inline-flex;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
    width: auto;
    font-size: 1rem;
    height: 2.25rem;
    font-weight: 700;
    background-color: var(--primary-clr);
    border-radius: 5px;
    border: none;
    color: var(--clr-white);
    padding-inline-start: 7px;
    padding-inline-end: 7px;
    width: max-content;
    gap: 7.5px;
}

.btn:hover{
    transform: scale(1.04);
    transition: 0.2s all linear;
    background-color: var(--secondary-clr);
}

.btn.danger{
    background-color: var(--danger-clr);
}

.btn.cancel{
    background-color: var(--clr-grey);
}

.btn.outline:hover{
    background-color: var(--primary-clr);
    color: var(--clr-white);
}

.btn.outline{
    background-color: transparent;
    border:1px solid var(--primary-clr);
    border-radius: 5px;
    color: var(--primary-clr);
}

.btn.outline.success{
    border:1px solid var(--success-clr);
    color: var(--success-clr);
}

.btn.outline.success:hover{
    background-color: var(--success-clr);
    color: var(--clr-white);
}

.btn.outline.danger{
    border:1px solid var(--danger-clr);
    color: var(--danger-clr);
}

.btn.outline.danger:hover{
    background-color: var(--danger-clr);
    color: var(--clr-white);
}

.btn-xs{
    font-size: 1.7rem;
    height: 3.5rem;
    min-width: 3.5rem;
    max-width: max-content;
    padding: 1.5rem;
}

.btn-sm{
    font-size: 2rem;
    max-width: max-content;
    height: 4rem;
    padding: 2rem;
}

.btn-md{
    font-size: 2.5rem;
    max-width: max-content;
    height: 4.5rem;
    padding: 2.25rem;
}

.btn-lg{
    font-size: 3rem;
    max-width: max-content;
    height: 4.5rem;
    padding: 2.55rem;
}

.btn-xl{
    font-size: 3.25rem;
    padding:3rem;
    max-width: 100%;
}

.link{
    text-decoration: none;
    background-color: var(--primary-clr);
    min-height: max-content;
    color: var(--clr-white);
    font-weight: 700;
    border-radius: 5px;
}

.link-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    border: none;
    width: 100%;
    margin-top: 3rem;
    background: none;
}


/* Floating BTN */
.floating-btn-container,
.floating-items{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.floating-btn-container .btn{
    background-color: var(--primary-clr);
    border-radius: 50%;
    padding: 0;
}

.float-btn .icon,
.floating-item .icon{
    padding: 1rem;
}

.floating-item {
    border-radius: 50%;
    background-color: var(--primary-clr);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-btn,.signup-btn, .reset-password-btn{
    width: 100%;
    max-width: 100%;
    font-size: 2rem;
    height: 6rem;
    padding-inline: 4rem;
    margin: 2rem 0;
}