<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button</title>
    <script src="https://kit.fontawesome.com/e5dbe6b99b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/components/Button/button.css">
</head>
<body>
    <section class="container">
        <button class="btn btn-xs">Send</button>
        <button class="btn btn-sm">Send</button>
        <button class="btn btn-md">Send</button>
        <button class="btn btn-lg">Email</button>
        <button class="btn btn-xl">Sign up</button>
        <br>
        <button class="btn btn-sm danger">Error</button>
        <button class="btn btn-sm cancel">Cancel</button>
        <br>
        <button class="btn btn-sm outline">Button</button>
        <button class="btn btn-md outline success ">Button</button>
        <button class="btn btn-lg outline danger ">Button</button>
        <br>
        <button class="btn outline btn-sm">
            Send
            <i class="icon far fa-paper-plane"></i>
        </button>
        <!-- ICON BUTTON -->
        <button class="btn btn-sm">
            <i class="fas fa-shopping-bag"></i>
        </button>
        <!-- Link Button -->
        <a class=" link" href="https://shed-ui.netlify.app">
        <button class="btn btn-sm" >
                Link
                <i class="icon fas fa-arrow-right"></i>        
            </button>
        </a>
<br>
<br>  
        <div class="floating-btn-container">
            <button class="btn btn-md float-btn">
                <i class="icon fas fa-plus"></i>
            </button>
                <div class="floating-items hidden">
                    <button class="btn btn-md floating-item">
                        <i class="icon fas fa-paperclip"></i>
                    </button>
                    <button class="btn btn-md floating-item">
                        <i class=" icon fas fa-arrow-down"></i>
                    </button>
                    <button class="btn btn-md floating-item">
                        <i class="icon fas fa-map-marker-alt"></i>
                    </button>
                </div>
        </div>
    </section>
    
</body>
<script src="/components/components.js"></script>
</html>