<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avatar</title>
    <link rel="stylesheet" href="/components/avatar/avatar.css">
</head>
<body>
    <section class="container">
        <div class="avatar-container size-sm " >
            <img  src="https://bit.ly/prosper-baba" alt="avatar of Prosper Otemuyiwa">
        </div>
        <div class="avatar-container size-md " >
            <img  src="https://rb.gy/iepnku" alt="avatar of Josh Comeau">
        </div>
        <div class="avatar-container size-lg" >
            <img  src="https://rb.gy/fjwtsq" alt="avatar of Wes Bos">
        </div>
        <div class="avatar-container size-xl"  >
            <img  src="https://bit.ly/dan-abramov" alt="avatar of Dan Abrahmov">
        </div>
        <div class="avatar-container size-2xl" >
            <img  src="https://bit.ly/kent-c-dodds" alt="avatar of Kent C Dodds">
        </div>
    </section>
        
        <section class="container">
            <div class="avatar-container avatar-sq size-sm" >
                <img  src="https://bit.ly/prosper-baba" alt="avatar of Prosper Otemuyiwa">
            </div>
            <div class="avatar-container avatar-sq size-md" >
                <img   src="https://rb.gy/iepnku" alt="avatar of Josh Comeau">
            </div>
            <div class="avatar-container avatar-sq size-lg" >
                <img   src="https://rb.gy/fjwtsq" alt="avatar of Wes Bos">
            </div>
            <div class="avatar-container avatar-sq size-xl" >
                <img   src="https://bit.ly/dan-abramov" alt="avatar of Dan Abrahmov">
            </div>
            <div class="avatar-container avatar-sq size-2xl" >
                <img   src="https://bit.ly/kent-c-dodds" alt="avatar of Kent C Dodds">
            </div>
        </section>

        <section class="container">
            <div class="avatar-container size-sm txt-avatar flex">
                <span>SD</span>
            </div>
            <div class="avatar-container size-md txt-avatar flex">
                <span>NG</span>
            </div>
            <div class="avatar-container size-lg txt-avatar flex">
                <span>TP</span>
            </div>
        </section> 
</body>
</html>