@import url(/utils.css);
.txt-avatar{
    border-radius: 50%;
    background-color: var(--primary-clr);
    color: var(--clr-white);
}
.avatar-container{
    display: inline-flex;
    position: relative;
}
.avatar-container img{
    border-radius: 50%;
}
.avatar-sq img{
    border-radius: 1rem;
}
.size-xs{
    width: 2rem;
    height: 2rem;
}
.size-sm{
    width: 4rem;
    height: 4rem;
}
.size-md {
    width: 6rem;
    height: 6rem;
}
.size-lg{
    width: 8rem;
    height: 8rem;
}
.size-xl{
    width: 10rem;
    height: 10rem;
}
.size-2xl{
    width: 12rem;
    height: 12rem;
}

/* TXT-AVATAR */
.size-xs span{
    font-size: 1rem;
}
.size-sm span{
    font-size: 2rem;
}
.size-md span{
    font-size: 3rem;
}
.size-lg span{
    font-size: 4.5rem;
}
.size-xl span{
    font-size: 5.5rem;
}
