<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avatar</title>
    <link rel="stylesheet" href="/components/avatar/avatar.css">
</head>
<body>
    <section class="container">
        <div class="avatar-container size-sm avatar-circle" >
            <img  src="https://bit.ly/prosper-baba" alt="avatar of Prosper Otemuyiwa" title="avatar of Prosper Otemuyiwa" >
        </div>
        <div class="avatar-container size-md avatar-circle " >
            <img  src="https://pbs.twimg.com/profile_images/1455203587840266249/XSdJ8r1L_400x400.jpg" title="avatar of Josh Comeau" alt="avatar of Josh Comeau">
        </div>
        <div class="avatar-container size-lg avatar-circle" >
            <img  src="https://learnnode.com/images/square-small.jpg" alt="avatar of Wes Bos" title="avatar of Wes Bos" >
        </div>
        <div class="avatar-container size-xl avatar-circle"  >
            <img  src="https://bit.ly/dan-abramov" alt="avatar of Dan Abrahmov" title="avatar of Dan Abrahmov" >
        </div>
        <div class="avatar-container size-2xl avatar-circle" >
            <img  src="https://bit.ly/kent-c-dodds" title="avatar of Kent C Dodds" alt="avatar of Kent C Dodds">
        </div>
    </section>
        
        <section class="container">
            <div class="avatar-container avatar-sq size-sm" >
                <img  src="https://bit.ly/prosper-baba" alt="avatar of Prosper Otemuyiwa" title="avatar of Prosper Otemuyiwa" >
            </div>
            <div class="avatar-container avatar-sq size-md" >
                <img   src="https://pbs.twimg.com/profile_images/1455203587840266249/XSdJ8r1L_400x400.jpg" title="avatar of Josh Comeau" alt="avatar of Josh Comeau">
            </div>
            <div class="avatar-container avatar-sq size-lg" >
                <img   src="https://learnnode.com/images/square-small.jpg" alt="avatar of Wes Bos" title="avatar of Wes Bos" >
            </div>
            <div class="avatar-container avatar-sq size-xl" >
                <img   src="https://bit.ly/dan-abramov" alt="avatar of Dan Abrahmov" title="avatar of Dan Abrahmov" >
            </div>
            <div class="avatar-container avatar-sq size-2xl" >
                <img   src="https://bit.ly/kent-c-dodds" title="avatar of Kent C Dodds" alt="avatar of Kent C Dodds">
            </div>
        </section>

        <section class="container">
            <div class="avatar-container size-sm txt-avatar">
                <h2>SD</h2>
            </div>
            <div class="avatar-container size-md txt-avatar">
                <h2>NG</h2>
            </div>
            <div class="avatar-container size-lg txt-avatar">
                <h2>TP</h2>
            </div>
        </section>
</body>
</html>