@import url(/utils.css);
@import url(/components/Avatar/avatar.css);
@import url(/components/Button/button.css);
.card-container{
    background-color: var(--clr-darkblue);
    padding: 1.5rem 2rem;
    color: var(--clr-white);
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 50rem;
    border-radius: 0.5rem;
}
.card-header{
    justify-content: space-between;
}
span{
    font-size: 1.25rem;
}
.card-container .card-content > .card-description{
    margin-top: 0.5rem;
    font-size: 1.25rem;
}
.card-container .card-content{
    margin-top: 0.5rem;
}
.title{
    font-weight: 800;
    font-size: 2rem;
}
.card-container .card-footer{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.card-author-box > .avatar{
    object-fit: cover;
    margin-inline-start: 1rem;
    margin-inline-end: 1rem;
}
.card-author-box span{
    margin: 0 0.75rem;
}
/* Vertical Card with Badge */
.vertical-card{
    display: flex;
    flex-direction: column;
    position: relative;    
    border-radius: 0.75rem;
    max-width: 27.5rem;
    overflow: hidden;
    box-shadow: var(--box-shadow-clr)
}
.vertical-card .card-header{
    display: flex;
    justify-content: center;
    padding-top: 0.75rem;
    width: 100%;
    background-color: var(--clr-grey);
}
.vertical-card .card-content{
    font-weight: 700;
    padding: 1rem;
    margin: 0 0.75rem;
}
.card-content .rating{
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--clr-red);
}
.vertical-card .title{
    font-size: 2rem;
    font-weight: 800;
}
.price{
    font-size: 1.75rem;
    color: var(--clr-red);
}
.card-clr-variant {
    margin: 1.5rem 0;
    display: flex;
}
.card-clr-variant  > li{
    margin-inline: 0 1rem;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    list-style: none;
    cursor: pointer;
}
.vertical-card .card-content .btn{
    margin-bottom: 0.5rem;
    width: 100%;
    max-width: 100%;
}

.my-badge{
    position: absolute;
    z-index: 1;
    top: 1rem;
    left: 0rem;
    padding: 0.5rem;
    width: 12rem;
    font-size: 1.125rem;
    font-weight: 800;
    color: var(--clr-red);
    text-transform: uppercase;
}
.my-badge::after{
    content: "";
    position: absolute;
    top: 0;
    left: -0.5rem;
    width: 100%;
    height: 100%;
    background: var(--clr-white);
    z-index: -1;
    transform-origin: 100% 0;
    transform: skew(-27deg);
  }
  /* DISMISS-CARD */
.dismiss-card{
    align-items: flex-start;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 30rem;
    color: var(--clr-white);
}
.dismiss-card .card-footer {
    align-items: center;
}
.card-footer .icon{
    background-color: var(--primary-clr);
    padding: 0.75rem;
    color: var(--clr-white);
    width: 2rem;
    height: 2rem;
    align-items: center;
}
.close-icon{
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    border: none;
    padding: 1.25rem;
    height: 2.5rem;
    width: 2.5rem;
    background-color: transparent;
    color: var(--clr-white);
    border-radius: 50%;
    cursor: pointer;
}
.close-icon:hover{
    background-color: var(--clr-red);
    transform: scale(1.1);
    transition: 0.1s all linear;
}
.close-icon > .icon{
    height: 1.75rem;
}
/* ||Card-Overlay */

.card-overlay{
    position: relative;
    display: grid;
    padding: 0;
    max-width: 35rem;
    overflow: hidden;
    border: none;
    border-radius: 0.75rem;
}
.card-overlay .img-overlay > img{
    width: 100%;
    height: 100%;
    max-inline-size: 100%;
}
.card-overlay-content{
    display: inline-flex;
    max-width: 100%;
    justify-content: flex-start;
    flex-direction: column;
    padding: 1rem;
    color: var(--clr-white);
    font-size: 1.25rem;
}
.card-overlay-content,
.img-overlay{
    grid-column: 1/2;
    grid-row: 1/2;
}

/* ||text only card  */
.text-card{
    width: 60ch;
    max-width: max-content;
}
.text-card .card-footer{
    justify-content: center;
}

/*|| Horizontal-Card */
.horizontal-card{
    max-width: 60rem;
    display: grid;
    grid-template-columns: 35% 65%;
    padding: 1rem 0rem;
    gap: 1rem;
    background-color: var(--clr-white);
    box-shadow: var(--box-shadow-clr)
}
.horizontal-card .card-header{
    max-width: 25rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-white);
}
.horizontal-card .card-header img{
    max-inline-size: 100%;
    block-size: auto;
}
.horizontal-card .card-content{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: max-content;
    padding-inline-end: 1rem;
}
.horizontal-card .card-content .title{
    margin-top: 0.25rem;
    font-size: 2rem;
}
.horizontal-card .card-content .rating{
    margin-top: 0.5rem;
    color: var(--clr-yellow);
    font-size: 1.5rem;
}
.horizontal-card .card-description .price{
    font-size: 2.25rem;
    color: var(--clr-maroon);
}
.horizontal-card .card-content .card-description .discount-txt{
    color: var(--clr-black);
    font-size: 1.5rem;
}
.horizontal-card .card-description p{
    font-size: 1.5rem;
}
.horizontal-card .card-footer .btn{
    margin: 0.5rem 0;
    width: 100%;
}
.horizontal-card .card-footer .footer-1{
    margin: 0.25rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.horizontal-card .card-footer .footer-1 > p,
.horizontal-card .card-footer > p{
    font-size: 1.5rem;
}
.horizontal-card .card-footer .footer-1 p span{
    font-size: 1.5rem;
    font-weight: 600;
}
.horizontal-card .card-footer .footer-1 > img{
    max-width:5rem;
}
.strike{
    color: var(--clr-grey);
    text-decoration: line-through;
}