<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <script src="https://kit.fontawesome.com/e5dbe6b99b.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/components/Cards/card.css">
</head>
<body>
    <section class="container">
        <div class="card-container">
            <div class="card-header flex">
                <span>Mar 25,2022</span>
                <a class="link flex btn-xs" href="#">Design</a>
            </div>
            <div class="card-content">
                <h1 class="title">Accessibility tools for designers and developers</h1>
                <p class="card-description" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia nostrum quis blanditiis at excepturi veritatis laborum cupiditate et aliquid molestiae?</p>
            </div>
            <div class="card-footer flex">
                <button class="btn btn-xs">Read More</button>
                <div class="card-author-box flex">
                    <img class="avatar-circle size-xs"  src="https://learnnode.com/images/square-small.jpg" alt="">
                    <span>Wes Bos</span>
                </div>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="vertical-card">
            <div class="my-badge">You Save 80%</div>
            <div class="card-header card-img">
                <img src="https://rb.gy/csnlne" alt="product image of boat headphone">
        </div>
        <div class="card-content">
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <div class="card-description">
                <div class="title">boAt Rockerz 550</div>
                <span class="price" >Rs. 1,999.00</span>
            </div>
            <div class="card-clr-variant">
                <li class="bg-primary" ></li>
                <li class="bg-black"></li>
                <li class="bg-red" ></li>
                <li class="bg-teal" ></li>
            </div>
            <button class="btn btn-sm">Add to Cart</button>
        </div>
</div>
    </section>
<section class="container">
    <div class="horizontal-card">
        <div class="card-header">
            <img class="" src="https://rb.gy/ykbitg" alt="Iphone 13 Image">
        </div>
        <div class="card-content">
            <div class="title">Apple iPhone 12 (64GB) - White</div>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <div class="card-description">
                <div class="price">₹ 56,999
                    <span class="strike" >₹65,999</span>
                    <span class="discount-txt">Save ₹8,901 (14%)</span>
                </div>
                <p>10% Off on Indusind bank ltd. Cards</p>
            </div>
            <div class="card-footer">             
                <div class="footer-1">
                    <img src="https://rb.gy/orixca" alt="">
                    <p>Get it by <span>Tomorrow 3PM</span></p>
                </div>
                <p>FREE Delivery by Amazon</p>
                <button class="btn btn-sm">Add to cart</button>
            </div> 
            </div>
    </div>
</section>
    <section class="container">
        <div class="card-container dismiss-card">
            <div class="card-header">
                <div class="title">
                    Welcome to Dribble 
                </div>
        </div>
        <div class="card-content">
            <p class="card-description">
                Find design Inspiration. Share your work. Join the #1 creative community online.
            </p>
        </div>
        <div class="card-footer">
            <button class="btn btn-xs">
                Sign up with email
            </button>
            <a href="#">
                <i class="icon avatar-circle fab fa-google"></i>
            </a>
        </div>
            <button class="close-icon flex">
                <i class="icon fas fa-times"></i>
            </button> 
    </div>
    </section>
    
    <section class="container">
        <div class=" card-overlay">
            <div class="img-overlay">
                <img src="/Assets/nature.jpg" alt="">
            </div>
            <div class="card-overlay-content">
                <h1 class="title" >Bologna</h1>
                <span>Romagna,Italy</span>
                <p class="card-description" >It is seventh most populous city in Italy, at the heart of a metroplitan area of about one million people.</p>
            </div>
        </div>
    </section>

    <section class="container" >
        <div class="card-container text-card">
            <div class="card-content">
                <h1 class="title" >AP Psychology - Course :
                </h1>
                <p class="card-description" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias exercitationem, molestiae ad minima voluptatem vitae expedita ea eos aut dolorem illum architecto vel animi esse officia dignissimos molestias error odit rerum omnis unde reprehenderit. Incidunt dicta quisquam sint perspiciatis official.</p>
            </div>
            <div class="card-footer">
                <span>Sept 23,2002</span>
            </div>
    </div>
    </section>
</body>
</html>