<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <script src="https://kit.fontawesome.com/e5dbe6b99b.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/components/Cards/card.css">
    <link rel="stylesheet" href="/components/Cards/card-media.css">
</head>
<body>
    <section class="container">
        <div class="card-container">
            <div class="card-header flex">
                <span>Mar 25,2022</span>
                <a class="link flex btn-xs" href="#">Design</a>
            </div>
            <div class="card-content">
                <h1 class="title">Accessibility tools for designers and developers</h1>
                <p class="card-description" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia nostrum quis blanditiis at excepturi veritatis laborum cupiditate et aliquid molestiae?</p>
            </div>
            <div class="card-footer flex">
                <button class="btn btn-xs">Read More</button>
                <div class="card-author-box flex">
                    <img class="avatar-circle size-xs"  src="https://rb.gy/fjwtsq" alt="avatar of Wes Bos">
                    <span>Wes Bos</span>
                </div>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="product-card-container">
            <div class="flex w-100 relative product-card">
              <div class="w-100 h-100 relative product-header">
                      <div class="flex wishlist-badge"><i class="icon sidze-xs fa-regular fa-heart"></i></div>
                <div class="w-100 relative product-img-container">
                  <img class="w-100 h-100 absolute inset"
                    src="https://images.bewakoof.com/t320/orchid-petal-basic-hoodies-454624-1640779904-1.jpg"
                    alt="product image of boat headphone"
                  />
                </div>
                <div class="btn-container hover-cart-btn-container  ">
                    <button class="w-100 btn btn-sm flex cart-btn">Add To Cart</button>
                </div>
              </div>
              <div class="w-100 product-content">
                <span class="product-title lt-bold">Roadster</span>
                <div class="product-description lt-bold">
                  Red Plum layered sweatshirt Hoodie
                </div>
                <div class="ratings">
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                </div>
                <div class="relative flex product-price-details">
                  <span class="product-price">₹799</span>
                  <span class="strike-txt og-price txt-grey">₹1499</span>
                </div>
              </div>
              <div class="w-100 product-footer">
                  <div class=" btn-container mobile-cart-btn-container">
                      <button class="w-100 btn btn-xs cart-btn">Add to Cart</button>
                  </div>
              </div>
            </div>
          </div> 
    </section>
<section class="container">
    <div class="horizontal-card">
        <div class="card-header">
            <img class="" src="https://rb.gy/ykbitg" alt="Iphone 13 Image">
        </div>
        <div class="card-content">
            <div class="title">Apple iPhone 12 (64GB) - White</div>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <div class="card-description">
                <div class="price">₹ 56,999
                    <span class="strike" >₹65,999</span>
                    <span class="discount-txt">Save ₹8,901 (14%)</span>
                </div>
                <p>10% Off on Indusind bank ltd. Cards</p>
            </div>
            <div class="card-footer">             
                <div class="footer-1">
                    <img src="https://rb.gy/orixca" alt="prime-logo">
                    <p>Get it by <span>Tomorrow 3PM</span></p>
                </div>
                <p>FREE Delivery by Amazon</p>
                <button class="btn btn-sm">Add to cart</button>
            </div> 
            </div>
    </div>
</section>
    <section class="container">
        <div class="card-container dismiss-card">
            <div class="card-header">
                <div class="title">
                    Welcome to Dribble 
                </div>
        </div>
        <div class="card-content">
            <p class="card-description">
                Find design Inspiration. Share your work. Join the #1 creative community online.
            </p>
        </div>
        <div class="card-footer">
            <button class="btn btn-xs">
                Sign up with email
            </button>
            <a href="#">
                <i class="icon avatar-circle fab fa-google"></i>
            </a>
        </div>
            <button class="close-icon flex">
                <i class="icon fas fa-times"></i>
            </button> 
    </div>
    </section>
    
    <section class="container">
        <div class=" card-overlay">
            <div class="img-overlay">
                <img src="/Assets/nature.jpg" alt="nature image>
            </div>
            <div class="card-overlay-content">
                <h1 class="title" >Bologna</h1>
                <span>Romagna,Italy</span>
                <p class="card-description" >It is seventh most populous city in Italy, at the heart of a metroplitan area of about one million people.</p>
            </div>
        </div>
    </section>

    <section class="container" >
        <div class="card-container text-card">
            <div class="card-content">
                <h1 class="title" >AP Psychology - Course :
                </h1>
                <p class="card-description" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias exercitationem, molestiae ad minima voluptatem vitae expedita ea eos aut dolorem illum architecto vel animi esse officia dignissimos molestias error odit rerum omnis unde reprehenderit. Incidunt dicta quisquam sint perspiciatis official.</p>
            </div>
            <div class="card-footer">
                <span>Sept 23,2002</span>
            </div>
    </div>
    </section>
</body>
</html>