<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
    <link rel="stylesheet" href="../List/list.css">
    <script src="https://kit.fontawesome.com/e5dbe6b99b.js" crossorigin="anonymous"></script>
</head>
<body>
    <section class="box">
        <ul class=" style-sq md-txt" >
            <li>list 1</li>
            <li>list 2</li>
            
        </ul>
        <ul class=" style-circle md-txt" >
            <li>list 1</li>
            <li>list 2</li>
            
        </ul>
        <ul class="list-none md-txt">
            <li>list 1</li>
            <li>list 2</li>
            
        </ul>
    </section>

    <section class="box">
        <ol class="style-numbering md-txt" >
            <li>List with Numbering</li>
            <li>List with Numbering</li>
        </ol>
        <ol class="style-alpha-lower md-txt">
            <li>List with Lower-Alphabets</li>
            <li>List with Lower-Alphabets</li>
        </ol>
        <br>
        <br>
        <ol class="style-alpha-upper md-txt">
            <li>List with Upper-Alphabets</li>
            <li>List with Upper-Alphabets</li>
        </ol>
        <ol class="style-lower-roman md-txt">
            <li>List with Lower Roman Number</li>
            <li>List with Lower Roman Number</li>
        </ol>
        <br>
        <br>
        <ol class="style-upper-roman md-txt">
            <li>List with Upper Roman Number</li>
            <li>List with Upper Roman Number</li>
        </ol>
        <ol class=" md-txt" reversed >
            <li>List with (Reversed) Alphabets</li>
            <li>List with (Reversed) Alphabets</li>
        </ol>
    </section>
    <section class="box">
        <ul class="md-txt stacked-list list-none" >
            <li>
                <i class="far fa-bell"></i>
                This is a stacked notification
            </li>
            <li>
                <i class="far fa-bell"></i>
                This is a stacked notification
            </li> <li>
                <i class="far fa-bell"></i>
                This is a stacked notification
            </li>
        </ul>
    </section>
</body>
</html>