@import url(/utils.css);
.nav-section{
    justify-content: initial;
    width: 100%;
    max-width: 100%;
    height: 7rem;
    position: fixed;
    z-index: 10;
    background-color: var(--clr-white);
    top:0;
    box-shadow: var(--box-shadow-clr);
}
.logo-container{
    max-width: 20rem;
    padding: 0 3rem;
    padding-bottom: 0.75rem;
}
.navbar{
    width: 100%;
    height: 100%;
    display: inline-flex;
    gap: 5rem;
    align-items: center;
}
.nav-link-container{
    margin-left: auto;
}

.nav-link-container .nav-content{
    margin: 0 1.5rem;
}
.nav-link-container .nav-content .nav-link{
    font-size: 2.25rem;
    padding: 0 1rem;
}
