<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
    <link rel="stylesheet" href="../Navigation/navigation.css">
    <script src="https://kit.fontawesome.com/e5dbe6b99b.js" crossorigin="anonymous"></script>

</head>
<body>
    <section class="nav-section flex">
        <div class="logo-container">
            <a href="#" class="logo" >shed</a>
        </div>
        <nav class="navbar">
            <ul class="nav-link-container flex">
                <div class="nav-content">
                    <a class="nav-link" href="#">Home</a>
                </div>
                <div class="nav-content">
                    <a class="nav-link" href="#">About</a>
                </div>
                <div class="nav-content">
                    <a href="#" class="nav-link">Resume</a>
                </div>
                <div class="nav-content">
                    <a href="#" class="nav-link">Contact</a>
                </div>
            </ul>
            
        </nav>
</section>
</header>
</body>
</html>