<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badge</title>
    <link rel="stylesheet" href="/components/Badge/badge.css">
    <script src="https://kit.fontawesome.com/e5dbe6b99b.js" crossorigin="anonymous"></script>
</head>
<body>

    <section class="container">
        <div class="avatar-container  size-sm">
            <img class="avatar-circle" src="https://bit.ly/prosper-baba" alt="avatar of Prosper Otemuyiwa" title="avatar of Prosper Otemuyiwa" >
            <i class="avatar-badge badge-sm bg-red"></i>
        </div>

        <div class="avatar-container size-md" >
            <img class="avatar-circle" src="https://pbs.twimg.com/profile_images/1455203587840266249/XSdJ8r1L_400x400.jpg" title="avatar of Josh Comeau" alt="avatar of Josh Comeau">
            <i class="avatar-badge badge-md bg-black"></i>
        </div>

        <div class="avatar-container size-lg" >
            <img class="avatar-circle" src="https://learnnode.com/images/square-small.jpg" alt="avatar of Wes Bos" title="avatar of Wes Bos" >
            <i class="avatar-badge badge-lg bg-ltblue "></i>
        </div>
        <div class="avatar-container size-xl"  >
            <img class="avatar-circle" src="https://bit.ly/dan-abramov" alt="avatar of Dan Abrahmov" title="avatar of Dan Abrahmov" >
            <i class="avatar-badge badge-xl bg-green "></i>
        </div>
        <div class="avatar-container size-2xl" >
            <img class="avatar-circle" src="https://bit.ly/kent-c-dodds" title="avatar of Kent C Dodds" alt="avatar of Kent C Dodds">
            <i class="avatar-badge badge-2xl bg-blue"></i>  
            </div>
            <div class="badge-icon flex">
                <i class="icon fas fa-shopping-cart avatar-circle"></i>
                <span class="flex badge">1</span>
        </div>
        <div class="badge-icon flex" >
            <i class="icon far fa-envelope avatar-circle"></i>
            <span class="flex badge">2</span>
    </div>
    </section>
    
</body>
</html>