@import url(/utils.css);
@import url(/component.css);
  
  .modal {
    visibility: hidden;
    opacity: 0;
    z-index: 100;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;
  }
  
  .modal:target {
    visibility: visible;
    opacity: 1;
  }
  .forgot-password-card {
    margin-inline: 1rem;
    max-width: 50rem;
    border-radius: 5px;
    background: var(--clr-white);
    box-shadow: var(--box-shadow-clr);
    padding: 1rem 2rem;
  }
  
  .modal-close {
    position: absolute;
    top: 3px;
    right: 1rem;
    color: var(--clr-grey);
    font-size: 3rem;
    text-decoration: none;
  }
  .card-description{
      margin-top:1rem
  }
  
  
/* MEDIA QUERIES */
  @media only screen and (max-width:450px){
      .reset-btn{
          font-size: 1.5rem;
          height: 3rem;
      }
  }