<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snackbar</title>
    <script src="https://kit.fontawesome.com/e5dbe6b99b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="snackbar.css">
</head>
<body>
    <section class="container">
        <button class="btn show-snackbar btn-sm">SHOW SNACKBAR</button>
        <div class=" flex snackbar"><span>snackbar msg</span></div>
        <div class="snackbar flex 
        success-snackbar"><i class="fa-solid fa-circle-check"></i><span>Signed in succesfully</span></div>
        <div class="snackbar flex 
        danger-snackbar"><i class="fas fa-exclamation-circle"></i></i><span>Looks like something is wrong</span></div>
        <div class="snackbar flex 
        info-snackbar"><i class="fas fa-info-circle"></i></i><span>The product is added</span></div>    
    </section>
</body>
<script src="./snackbar.js"></script>
<script src="../components.js"></script>
</html>