<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/utils.css">
    <link rel="stylesheet" href="/components/Alert/alert.css">
</head>
<body>
    <section class="container">
        <div class="alert variant al-error">
            <div class="alert-icon">
                <img class="icon" src="/assets/alert-error.svg" alt="alert-icon">
            </div>
            <div class="alert-content">
                <span class="alert-message">Error</span>
            <p class="alert-details">User not found !</p>
        </div>
    </div>
    <br>
    <div class="alert variant al-success">
        <div class="alert-icon">
            <img class="icon" src="/assets/alert-success.svg" alt="">
        </div>
        <div class="alert-content">
            <span class="alert-message">Success</span>
        <p class="alert-details">Payment was Successful</p>
    </div>
</div>
<br>
<div class="alert variant al-info">
    <div class="alert-icon">
        <img class="icon" src="/assets/alert-info.svg" alt="">
    </div>
    <div class="alert-content">
        <span class="alert-message">Info</span>
    <p class="alert-details">We are going Live !</p>
</div>
</div>
<br>
    <div class="alert al-warning">
        <div class="alert-icon">
            <img class="icon" src="/assets/alert-warning.svg" alt="">
        </div>
        <div class="alert-content">
            <p class="alert-details">Seems your account is about expire, upgarde now.</p>
        </div>
    </div>
    </section>
</body>
</html>