@import url(/utils.css);
.alert{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    max-width: max-content;
    border-radius: 7.5px;
    overflow: hidden;
    border:none;
    border-width: 0px;
}

.alert-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    padding: 1rem;
}

.alert-icon > .icon {
    width: 3rem;
    flex-shrink: 1;
}

.variant .alert-content{
    display: flex;
    flex-direction: column;
    background-color: var(--clr-black);
    padding-inline-start: 1rem;
    max-width: 100%;
}

.variant{
    max-width: 30rem;
    width: 100%;   
}

.alert-content{
    color: var(--clr-white);
    flex-basis: 25rem;
    padding: 7.5px 0;
    padding-inline-end: 2rem;
    flex-grow: 1;
    align-self: center;
    font-weight: 700;
}

.alert-message{
    font-size: 1.65rem;
}

.alert-details{
    font-size: 1.35rem;
}

.variant.al-success .alert-icon{
    background-color: var(--success-clr);
}

.variant.al-success .alert-content .alert-message{
    color: var(--success-clr);
}

.variant.al-danger .alert-icon{
    background-color: var(--danger-clr);
}

.variant.al-danger .alert-content .alert-message{
    color: var(--danger-clr);
}

.variant.al-info .alert-icon {
    background-color: var(--info-clr);
}

.variant.al-info .alert-content .alert-message{
    color: var(--info-clr);
}

.variant.al-info{
    background-color: var(--info-clr);
}

.al-warning {
    background-color: var(--warning-clr);
}
.al-warning .alert-content{
    color: var(--clr-black);
}

