@import url(/main.css);
@import url(/utils.css);
@import url(/component.css);

::-webkit-scrollbar{
    scroll-behavior: smooth;
    width: 0.75vw;
}
::-webkit-scrollbar-thumb{
    border-radius: 1rem;
    background-color: var(--primary-clr);
}
::-webkit-scrollbar-track{
    background-color: var(--clr-white);
}

.nav-bar{
    background-color: var(--clr-white);
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--primary-clr);
}
.doc-container{
   display: flex;
   margin-top: 12rem;
   gap: 5rem;
   justify-content: center;
   max-width: 100%;
}

.component-nav{
  margin-left: 5rem;
  top: 12rem;
  height: 85vh;
  max-height: 100%;
  overflow-y: scroll;
  position: sticky;
  width: 20rem;
  flex-shrink: 0;
  padding: 1rem 1.25rem;
}

.component-nav span{
    font-size: 1.75rem;
    font-weight: 600;
}

.component-nav .component-item{
    font-size: 2rem;
    margin: 1rem;
    background-color:transparent;
    border: none;
    color: var(--clr-white);
}
.simple-link{
    text-decoration: none;
    justify-content: flex-start;
    width: 100%;
    margin: 0.25rem 0;
    max-width: 100%;
}


/* DEMO-SECTION */
.demo-container{
    min-width: 0;
    flex-shrink: 1;
    flex-grow: 1;
    padding: 1rem;
    max-width: 80vw;
    margin-inline-end: 5rem;
}

.comp-description{
    font-size: 1.5rem;
}
.title{
    font-size: 3rem;
    font-weight: 600;
}

.code-container{
    margin: 0.25rem 0;
    padding: 1rem 0;
}
.code-demo{
    display: flex;
    margin: 1rem 0;
    padding: 0;
    box-sizing: border-box;
    white-space: pre-line;
}
pre.code-demo > code{
    font-size: 1.5rem;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 1rem 0;
    padding-left: 1rem;
    border-radius: 1rem;
    white-space: pre-line;
    flex-wrap: wrap;
}
code > span{
    font-size: 1.5rem;
}
.title-container > span{
    font-size: 2rem;
    display: block;
    padding-inline-start: 2rem;
}
.title-container .comp-description{
    padding-inline-start: 3rem;
}
.title-container .component-name{
    list-style:inside;
    font-size: 2.75rem;
    font-weight: 600;
}
.title-container 
.sub-component-name{
    list-style-type: style;
}
.container{
    border: none;
    display: flex;
    background-color: var(--clr-lightgrey);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}
/*  */


@media only screen and (max-width: 950px) {
    .demo-container {
      display: flex;
      justify-content: center;
      margin: 0;
    }
    .doc-container {
      justify-content: center;
      gap: 0;
    }
  
    .component-demo {
      width: 80vw;
    }
  
    .component-nav {
      display: none;
    }
    .header-toggle > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: var(--primary-clr);
      transition: all 300ms ease-in-out;
      transform-origin: 3px 1px;
    }
    .header-toggle :not(:last-child) {
      margin-bottom: 5px;
    }
    .header-toggle.open > span:first-child {
      transform: rotate(45deg);
    }
    .header-toggle.open > span:nth-child(2) {
      opacity: 0;
    }
    .header-toggle.open > span:last-child {
      transform: rotate(-45deg);
    }
    .component-nav.open {
      display: block;
      position: fixed;
      z-index: 10;
      top: 10rem;
      width: 90vw;
      max-width: 100%;
      height: 100%;
      max-height: 100vh;
      background: var(--clr-white);
      margin-left: 0;
      padding-top: 2.5rem;
    }
    .component-item{
        width: 15rem;
    }
  }
  
@media only screen and (max-width: 700px) {
    .demo-container{
        max-width: 90vw;
    }
      .component-demo{
          width: 100%;
    }

    .comp-description{
        font-size: 1.25em;
    }
  }